@import "tailwindcss";

:root {
	--foreground: #000000;
	--background: #020f1a5e;
	--primary: #e0e3e3;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #000000;
		--background: #020f1a5e;
		--primary: #e0e3e3;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--foreground);
	background: var(--background);
}
